.text-center {
  text-align: center;
}

.flex {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.flex-top {
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

.container {
  width: 100%;
  margin: auto;
}

.col-6 {
  width: 50%;
}

.gif-image {
  width: 300px;
  height: 300px;
}
